@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
*{
    font-family: 'Nanum Myeongjo', serif;
}
.navbar{
    background-color: #f7fbff ;
}
.navbar .navbar-brand .logo{
    height: 45px;
     width: 45px;
}
.navbar .navbar-brand {
    color: #0D3A9D ;
    font-weight: 600;
}
.navbar .navbar-nav li{
    padding: 0 25px;
}
.navbar .navbar-nav .nav-item .nav-link{
    color: #0D3A9D ;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
}
/*weather app section**/
#weather{
    margin-top: 80px;
}
#weather .wheather-app-description h2{
    color: #0D3A9D;
    font-weight: 600;
}
#weather .wheather-app-description p{
    color: gray;
    font-size: 19px;
}
#weather .weather-image img{
width: 100%;
}
/*Search section*/
#search .serach-inbox input{
    width: 85%;
    outline: none;
    border: 1px solid #0D3A9D;
    border-radius: 10px;
    font-size: 22px;
    border-radius: 16px 0 16px 0;
}
#search .serach-inbox input:focus{
   border: 3px solid #0D3A9D;
}
#search .serach-inbox .queto{
    color: gray;
}
#search .serach-inbox .queto::before{
    content: '\f10d';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 15px;
    padding: 0 10px;
    color: var(--main-color);
    margin-top: -40px;
}
#search .serach-inbox svg{
    color: gray;
    position: relative;
    left: -32px;
    top: -5px;
    font-size: 50px;
}
.card-weather-infromation .card{
background: linear-gradient(to right, #005c97, #363795); 
}
@media(min-width:1024px){
    .card-weather-infromation .card{
        width: 25rem;
    }
    
}
.card-weather-infromation .card-body > div{
    padding: 10px 0;
}
.card-weather-infromation .location .city{
    color: #fff;
    font-size: 33px;
}
.card-weather-infromation .location .date{
    color: #fff;
    font-size: 15px;
}
.card-weather-infromation .weather-details .temprature{
    color: #fff;
    font-size: 100px;
    font-weight: 900;
    text-shadow: rgba(0, 0, 0, 0.6);
}
.card-weather-infromation .wheather-state{
    color: #fff;
    font-size: 30px;
    font-weight: 700;
}
.card-weather-infromation .weather-details .high-low-tempureature{
    color: #fff;
    font-size: 15px;
}
/**footer section */
#footer .coontent{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#footer .coontent h6{
    color: #fff;
    padding: 10px 0;
}
#footer .coontent .social-media{
  display: flex;
}
#footer .coontent a{
    padding: 0 10px;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: 1px solid;
    border-radius: 50%;
    margin: 10px 9px;
}
#footer .coontent a:hover{
    background-color: #fff;
    color: #0D3A9D;
    text-decoration: none;
}
/*loader*/
.loader{
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}